.item{
    width: 25rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: #A0AFA0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.item h3{
    margin: 0;
    padding: 0;
}